body{
  background-color: #3ee1ad;
}

.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inputbox{
  border-radius: 3px;
  padding: 19px;
  font-size: x-large;
}

.fonticon{
  font-size: xx-large;
  color: rgb(8, 8, 119);
  margin: 4px;
  padding: 4px;
}

.fonticon:hover{
  color: darkgreen;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  
  
}


.show-item{
  background-color: #C2F2C7;
  border-top: 10px;
  border-radius: 3px;
  padding: 12px;
  width: 40vh;
  border-style: groove;
  border-color: #1CBA2E;
  
}

.remove-div{
  text-align: center;
}

.delicon:hover{
  color: red;
  
}
.delicon{
  margin: 4px;
}

.remove{
  background-color: #03faac;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 14px;
  padding: 12px;
  margin: 12px;
  border-radius: 4px;
}

.additems{
  display: flex;
  flex-direction: column;
}

.add-btn{
  background-color: #1CBA2E;
  margin-top: 14px;
  height: 40px;
  width: 90px;
  border-radius: 4px;
  font-size: 18px;
}

.add-btn:hover{
  cursor: pointer;
}

.trash-can{
  margin: 14px;
 
}


.remove:hover{
  background-color: rgb(210, 35, 35);
  cursor: pointer;
}

.each-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading{
  font-size: 28px;
}


